body {
  font-family: georgia, serif;
  margin: 0;
}

#wrap {
  margin:auto;
}

#white {
  background-color: #FFFFFF;
  margin: 0;
}

div#header {
  background:none repeat scroll 0 0 #F2EFC3;
  border-bottom:10px solid #CC5500;
  height:125px;
  left:0;
  top:0;
}

div#logo {
  float:left;
  left:6%;
  margin:1%;
  position:relative;
}
#logo img {
  border: 0 none; 
}

#header h1 {
  left:-6%;
  margin:0;
  position:relative;
  top:30%;
}

#header h1 a {
  color:#DA6231;
  display:block;
  float:left;
  font-size:50px;
  font-weight:bold;
  letter-spacing:-2px;
  margin:0 100px 0 130px;
  padding:0 40px;
  text-decoration:none;
  text-shadow:0 1px 5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
}

#content {
  background: #FFFFFF;
  margin: 0 6%;
}

#main {
width: 66%;
float: left;
}

.intro {
padding: 3% 1%;
}

.slogan {
  color: #A5151E;
  padding: 5% 2% 0;
}

.slogan h1 {
  font-size: 26pt;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin: 0;
}

.slogan h2 {
  margin: 1% 0;
  font-size: 14pt;
}

#links {
  padding:0 1%;
}

div.linkbox {
  -moz-border-radius: 10px 10px 5px 5px;
  background-color: #F2EFC3;
  float: left;
  margin: 1%;
  padding: 0 1%;
  position: relative;
  width: 28%;
  min-height: 300px;
}

div.linkbox:hover {
  background-color: #EEE8AA;
}

hr.clear {
  clear:both;
  visibility:hidden;
  border:none;
  height:0;
  line-height:0;
}

p {
  color:black;
}

a {
  text-decoration:none;
}

:focus {
  -moz-outline-style: none;
}

p.desc {
  padding:0 5%;
}

p.desc a {
  color:black;
  display:block;
}

p.link_wiki a {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: transparent url(../images/wiki.png) no-repeat scroll center center;
  display: block;
  line-height: 180px;
  text-indent: -1000em;
  width: 100%;
}

p.link_blog a {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: transparent url(../images/blog.png) no-repeat scroll center center;
  display: block;
  line-height: 180px;
  text-indent: -1000em;
  width: 100%;
}

p.link_mailing a {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: transparent url(../images/mail_man.jpg) no-repeat scroll center center;
  display: block;
  line-height: 180px;
  text-indent: -1000em;
  width: 100%;
}

#sidebar {
  width: 30%;
  padding: 3% 0;
  float: right;
}

#donate-box {
background:url("../images/donate-box.png") no-repeat scroll 113% 101% transparent;
margin-bottom: 1%;
padding-bottom: 5%;
}

#donate-box p {
background:url("../images/donate-box.png") no-repeat scroll 0 0 transparent;
color:#FFFFFF;
font-family:georgia,serif;
font-size:20px;
font-style:italic;
font-weight:bold;
line-height:1.2;
height: 90px;
margin: 0;
padding:55px 123px 10px 20px;
}

.item  p {
  font-size: 10pt;
  margin: 1% 0;
}

.item  h4 {
  margin: 5% 0;
}

.item a {
  color: #0047AB;
}

#footer {
  background-color: #f2efc3;
  border-top: 10px solid #CC5500;
  margin-top: 5%;
  padding: 3%;
}

.copyright {
 float:left;
  padding-right:13%;
  width: 15%;
}

.fotterul {
float: left;
padding-right:3%;
}

.fotterul  a {
color: #A5151E;
}

.copyright a {
color: #A5151E;
}

.fotterul h5 {
  padding-left: 16%;
}